<div class="container-fluid">
	<div class="col-md-2">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Comentario</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
				<tr *ngFor="let e of comentarios">
					<td style="cursor-pointer;">
						<a class="figure-caption" (click)="onSelected(e.id)">{{e.id}}</a>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="border row">
		<div class="col">
			<div *ngIf="selectedComentario">
				<app-comentario-detail [comentarioDetail]="selectedComentario"> </app-comentario-detail>
			</div>
		</div>
	</div>
</div>