<form [formGroup]="comentarioForm" (ngSubmit)="createComentario(comentarioForm.value)">

	<div class="form-group mx-sm-3 mb-2">
		<label for="id">
      Identificador
    </label>
		<input novalidate
    id="id" type="number"
    class="form-control"
      formControlName="id"
      placeholder="200">

		<div class="alert alert-danger alert-dismissible fade show"
			*ngIf="comentarioForm.get('id').hasError('required') && comentarioForm.get('id').touched">
			Se necesita identificador
		</div>
	</div>

	<div class="form-group  mx-sm-3 mb-2">
		<label for="comentario">
      Comentario
    </label>
		<input id="comentario" type="text"
     class="form-control"
     formControlName="comentario"
     placeholder="Tarantined by Quentin Directino ">

		<div class="alert alert-danger alert-dismissible fade show"
			*ngIf="comentarioForm.get('comentario').hasError('required') && comentarioForm.get('comentario').touched">
			Se necesita comentario
		</div>
	</div>
  	<div class="form-group  mx-sm-3 mb-2">
		<label for="fecha">
      Fecha
    </label>
		<input id="fecha" type="date"
     class="form-control"
     formControlName="fecha"
     placeholder="">

		<div class="alert alert-danger alert-dismissible fade show"
			*ngIf="comentarioForm.get('comentario').hasError('required') && comentarioForm.get('comentario').touched">
			Se necesita fecha
		</div>
	</div>
	<button class="button mx-sm-3 mb-2" type="submit" [disabled]="comentarioForm.invalid">Create</button>
</form>